
# Habilita el motor de reescritura de URLs de Apache.
RewriteEngine on

# Redirige las peticiones que empiezan por /api/ a api.php
RewriteCond %{REQUEST_URI} ^/api/
RewriteRule ^api/(.*)$ api.php [QSA,L]

# El resto va a index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
